<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Response Page</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
</head>
<body>
  <h1>Hello, {{ name }}</h1>

  <h2> {{all}} </h2>
  
  {% for data in all %}
  User {{ data.user_id }}: {{data.user_id}} <br/>
  name : {{data.name}} <br>
  lat: {{ data.latitude }} <br>
  lng: {{ data.longitude }} <br>
  travelapp: {{data.travel_appetite}}<br>
  <br>
  {% endfor %}



</body>
</html>